:root {
    /* colors */
    --clr-body: 240 27% 18%/*#1c1c1c*/;
    --clr-outer-dark: 232 17% 35%/*209 100% 20% 227 11% 15%*/;
    --clr-info-dark:  240 27% 18% /*211 100% 12% 231 12% 12%*/;
    --clr-footer-dark: 231 7% 9%;
    --clr-off-white: 21 35% 92%/*0 0% 86%*/;
    --clr-stack: 11 24% 72%/*46 100% 50% 25 79% 78%*/;
    --clr-name: 309, 6%, 58%;
    
    /* font-sizes */
    --fs-700: 1.5625rem;
    --fs-400: 0.84rem;
    --fs-700-heading: 1rem;
    
    /* font-families */
    --ff-sans-serif: "Inter", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /*background-color: #1c1c1c;*/
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 0.64rem;
}
 /* unvisited link */
 a:link {
    color: hsl(309, 6%, 58%);
}
  
/* visited link */
a:visited {
    color: hsl(175, 9%, 73%);
}
  
/* mouse over link */
a:hover {
    color: hsla(300, 8%, 95%, 1);
}
  
/* selected link */
a:active {
    color: blue;
   
}

body {
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-400);
    color: hsl(var(--clr-off-white));
    background-color: hsl(var(--clr-body)/1);
    line-height: 1.5;
    min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* App */
.main {
    background: hsl(var(--clr-outer-dark) / 1);
    max-width: 34.375rem;
    margin-inline: auto;
    padding: 3rem;
}

.main__section {
    background: hsl(var(--clr-info-dark) / 1);
    max-width: 19.8125rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    /*border-radius: 0px 0px 10px 10px;*/
    border-radius: 10px 10px 0 0;
    /*align-content: center;*/
    /*justify-content: center;*/
    align-items: flex-start;
}


/* Header */
.section-header {
    /*padding: 1em 2.1875em;*/
    text-align: center;
    margin-inline: auto
}

.avatar {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
}

.name {
    font-size: var(--fs-700);
    font-weight: 700;
    margin-top: 1.3125em;
    text-align: center;
}

.title {
    font-size: var(--fs-400);
    font-weight: 400;
    color: hsl(var(--clr-stack));
    margin-top: 5px;
    text-align: center;
}

.button-section {
    display: flex;
    padding: 1.5rem 0 0 0;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

button {
    box-shadow: 0px 1px 2px 0px #0000000D;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    
    font-weight: 500;
    border-radius: 6px;
}

button > span { 
    /* padding: 11px 0 9px 0; */
    font-size: 14px;
    line-height: 16px;
    color: #374151;
}

/* About */
.section_about {
    padding: 1em 2.25em;
   margin-inline: auto;
}

.about, .skill {
    font-weight: 700;
    margin-bottom: 0.3125em;
    color: hsla(0, 0%, 96%, 1);
    margin-top: 1.0625em;
    font-size: 1rem;
}

.about__text, .skill__text  {
    color: hsla(0, 0%, 86%, 1);
    font-size: var(--fs-400);
    max-width: 247px;
    width: 100%;
}

/* Footer */
.section_footer {
    background: hsl(var(--clr-footer-dark) / 1);
    border-radius: 10px 10px 10px 10px;
    width: 100%;
}

.footer_social {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 247px;
}

.footer_social li {
    background: hsla(254, 6%, 58%, 1);
    padding: 0.35em;
    border-radius: 5px;
    margin-left: 10px;
}

